.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/*SECTION - Header styles */

.mainHeader {
  display: flex;
  height: 10vh;
  width: 100vw;
  max-width: 100%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid white;
  margin-bottom: 5vh;
}

.mainHeader h3 {
  margin-left: 5vw;
  margin-right: 5vw;
}

/*!SECTION */

/*SECTION - Search Bar styles */

.searchBar {
  width: 30vw;
  outline: none;
  border: 1px solid white;
  border-radius: 1vh;
  font-size: 15px;
  color: var(--foreground-rgb);
  height: 25px;
  background-color: var(--background-black-hex);
  padding-inline: 1vw;
}

/* styles.css */
.searchContainer {
  position: relative; /* Allow positioning the suggestions list */
}


.suggestionsList {
  position: absolute;
  list-style: none;
  width: 30vw;
  margin: 0;
  padding: 0;
  background-color: var(--background-black-hex);
  z-index:1; /*Ensures the list appears above other elements*/
}


.suggestionsList li {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: solid white 1px;
  border-top: none;
  border-radius: 1vh;
}

.suggestionsList button {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  color: rgba(var(--foreground-rgb));
  border: none;
  border-radius: 1vh;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}

.suggestionsList button:hover {
  background-color: rgba(var(--card-rgb)); /* Optional hover effect */
}


/*!SECTION */


/*
.code {
  font-weight: 700;
  font-family: var(--font-mono);
}
*/

/*SECTION - Card container template */
.grid {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}



/*SECTION - Card styles */

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}


.card:hover {
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.card:hover span {
  transform: translateX(4px);
}

/* Removes span transform transition*/

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/*!SECTION */


/*SECTION - Field N Container */

.fieldContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

