/*SECTION - Header styles */

.mainHeader {
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  z-index: 3;
  display: flex;
  height: 10vh;
  width: 100vw;
  max-width: 100%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-bottom: solid rgba(var(--card-border-rgb), 0.25) 1px;
}

.mainHeader h3 {
  margin-left: 5vw;
  margin-right: 5vw;
}

.logoImage {
  margin-left: 5vw;
  width: 10vh;
  height: 10vh;
}

/*!SECTION */

/*SECTION - Search Bar styles */

.searchBar {
  position: relative;
  margin-right: 27.5vw;
  height: 7.5vh;  
  width: 45vw;
  outline: none; /* Removes hoverihg outline*/
  background-color: var(--background-medium-hex);
  color: #acb0b4;
  font-size: 2.5vh;
  border-radius: 6vh;
  border: solid rgba(var(--card-border-rgb), 0.25) 1px;
  padding: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  box-shadow: 0vh 0vh 0vh var(--background-medium-hex);
  z-index: 1;
  transition:
    background-color 0.8s,
}

.searchBar:hover {
  background-color: #282a2c;
  box-shadow: 0vh 0vh .5vh var(--background-medium-hex);
}

/* 
Relative position allows positioning the suggestions list freely
while enabling z-index
*/

.searchContainer {
  position: relative; 
}

.suggestionsList {
  position: absolute;
  top: 50%;
  list-style: none;
  width: 45vw;
  z-index: 0;
  padding-top: 5vh;
  border-right: solid rgba(var(--card-border-rgb), 0.25) 1px;
  border-left: solid rgba(var(--card-border-rgb), 0.25) 1px;
  border-bottom: solid rgba(var(--card-border-rgb), 0.25) 1px;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  background-color: var(--background-medium-hex);
   /*Ensures the list appears above other elements*/
}

.suggestionsList li {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-top: none;
  border-radius: 1vh;
}

.suggestionsList button {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  color: rgba(var(--foreground-rgb));
  border: none;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  transition:
    background-color 0.4s,
}

.suggestionsList button:hover {
  background-color: #282a2c;
}


/*!SECTION */


/* NOTE - styles for a testing "code-like text"
.code {
  font-weight: 700;
  font-family: var(--font-mono);
}
*/

/*SECTION - Card container template */
.grid {
  margin: 0;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(4, minmax(24%, auto));
  column-gap: 1vh;
  row-gap: 1vh;
  max-width: 100%;
  width: var(--max-width);
}



/*SECTION - Card styles */

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: var(--background-medium-hex);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}


.card:hover {
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.card:hover span {
  transform: translateX(4px);
}

/* Removes span transform transition*/

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/*!SECTION */


/*SECTION - Field N Container */

.fieldContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 7fr;
}

/*!SECTION */

/*SECTION - Main content styles */

.fieldMain {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  align-items: center;
  width: 100%;
  height: 100%;
  border-left: solid rgba(var(--card-border-rgb), 0.25) 1px;
}

.fieldMain h1 {
  width: 80%;
  text-align: center;
  padding-top: 4vh;
  border-bottom: solid rgba(var(--card-border-rgb), 0.25) 1px;
}

/* Mind Map styles for each page*/
.mindMapContainer {
  width: 80%;
  height: 100%;
}

.fieldMainMM {
  height: 100%;
  width: 100%;
  border-radius: 2vh;
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 1);
}


.fieldMain p {
  line-height: 5vh;
  /*line-height: 40px;*/
}

.fieldSection {
  width: 80%;
  margin-top: 5vh;
  border-radius: 5px;
}

.editBtn {
  display: flex;
  justify-content: right;
}

.svgChart {
  width: 100%;
  height: 100%;
}

/*!SECTION */

/* SECTION - INDEX (MENU) NAV BAR */

.fieldMenu {
  width: 100%;
  height: 100%;
}

.fieldMenu h1 {
  text-align: center;
  padding-top: 4vh;
}

/*!SECTION */
